:root {
  --primary-color: #e8604c;
  --secondary-color: #86858e;
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "pacifico";
}

body {
  font-family: var(--primary-font);
}
.section-spacing {
  padding: 55px 0px;
}

p {
  color: var(--secondary-color);
}
.font-orange {
  color: #e8604c !important;
}
.logo img {
  width: 100%;
  max-width: 150px;
}
.top-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
.sec1-content {
  background-image: url("images/sec1-img.jpg");
  background-size: cover;
  min-height: 680px;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.sec1-heading1 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
.sec1-reg::after {
  display: inline-block;
  content: "/";
  font-size: 20px;
  color: white;
  padding: 0px 5px;
  font-weight: 400;
  position: absolute;
}
/*  
ul {
  list-style: square inside url("sqpurple.gif");
} */
.nav-item a {
  position: relative;
}
.nav-item .active::before {
  position: absolute;
  left: 50%;
  /* -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); */
  transform: translateX(-50%);
  bottom: 3px;
  display: block;
  margin-left: 1px;
  width: calc(100% - 15px);
  height: 2.5px;
  background: var(--primary-color);
  color: var(--primary-color);
  content: "";
}

.search-box {
  background-color: white;
  padding: 27px 31px;
  border-radius: 62px 10px;
  position: absolute;
  bottom: -34px;
  z-index: 111;
  box-shadow: 1px 0px 1px 1px grey;
}
.sec3-location p {
  font-size: 12px;
}
.btn-search {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  white-space: nowrap;
}

.discount {
  position: absolute;
  z-index: 99;
  top: 100px;
  right: 100px;
}

.sec2-discount {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 80px;
}
.card-price {
  font-family: var(--secondary-font);
  font-size: 28px !important;
  color: var(--primary-color);
}

.owl-nav {
  display: block !important;
  color: var(--primary-color) !important;
}

.car-sec {
  background-image: url("images/car.jpg");
  background-size: cover;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.custom-select:focus {
  box-shadow: none !important;
}
.custom-select {
  height: 53px;
  box-shadow: 1px 1px #c8bcbc;
}
.input-field input,
.input-field select {
  border: none;
  border-bottom: 1px solid;
  padding: 10px;
}

.sec5-temperature {
  position: absolute;
  top: 11px;
  right: 22px;
}
.sec5-temperature h6 {
  font-size: 10px;
}
.sec5-country h4 {
  position: absolute;
  left: 20px;
  bottom: 10px;
}
.sec5-img-content .sec5-overlay:hover {
  background: rgba(0, 0, 0, 0.7);
}
.sec5-img-content .sec5-location {
  color: #fff;
  position: absolute;
  left: 10px;
  opacity: 0;
  visibility: hidden;
}
.sec5-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.sec5-img-content .sec5-overlay:hover .sec5-location {
  bottom: 3rem !important;
  opacity: 1;
  visibility: visible;
  transition: transform 1.3s ease-in, opacity 0.5s ease;
}
.sec5-location p {
  color: #ddd;
  font-size: 15px;
}
.trip-calculator {
  background-image: url("../images/trip-calc-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 580px;
  width: 100%;
}
.sec6-form {
  background-color: #ffffffbd;
  height: 100%;
  box-shadow: 3px 3px 15px 4px;
  border-radius: 35px;
}
.carl-cards .card-body:hover .sec7-img img {
  filter: blur(2px);
}
.package-img {
  border-radius: 50%;
  transition: all 0.3s linear;
}
.carl-cards img {
  /* -webkit-transform: scale(1); */
  transform: scale(1);
  /* -webkit-transition: .3s ease-in-out; */
  transition: 0.3s ease-in-out;
}
.carl-cards:hover img {
  /* -webkit-transform: scale(0.9); */
  transform: scale(0.9);
}
.sec7-package-list li {
  position: relative;
}
.sec7-package-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -1rem;
  width: 12px;
  height: 2px;
  background: black;
  border-radius: 30px;
}
#myCarousel2 .owl-nav .owl-prev {
  top: calc(50% - 25px) !important;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: var(--primary-color);
  background: linear-gradient(to bottom, #ff5e62, #ff9966);
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 50%;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.sec9-card img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}
.sec9-cards li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(196, 194, 194, 0.6), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}
.sec9-cards li a i:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: var(--primary-color);
  color: #fff !important;
}

.sec9-cards li i {
  color: var(--primary-color);
}
.sec9-card {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
}

.carousel-indicators li {
  background-color: #282828;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.sec4-btn {
  height: 50px;
  width: 100%;
  background: #f2f1f8;
  padding-left: 24px;
  cursor: pointer;
  color: #44425a;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.sec10-card {
  background-image: url("../images/weather-imgg.jpeg");
  background-size: cover;
  width: 600px;
  height: 380px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #9e9e9e;
}

.event-date {
  width: 61px;
  height: 59px;
  background: var(--primary-color);
}
.event-day {
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.75;
}
.event-month {
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.75;
  margin-top: 10px;
}
.news-author a {
  color: var(--secondary-color) !important;
}
.news-date {
  color: var(--primary-color);
}

.signup {
  background-color: #fafafa;
}

/* hotel.html */
.sec2-img img {
  min-height: 610px;
  height: 100%;
  object-fit: cover;
  border-radius: 39px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.sec2-img1 img {
  min-height: 610px;
  height: 100%;
  object-fit: cover;
  border-radius: 39px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.hotel-sec1 {
  background-image: url("images/hotel-image.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

.sec2-hotel-content {
  background-color: white;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.details-para::before {
  margin: 0px 18px;
  content: "";
  display: inline-flex;
  height: 1px;
  width: 250px;
  border: 1px dashed #464646;
}

.footer-list li a {
  text-decoration: none;
  color: white !important;
  font-weight: 700;
}

.hotelsec-3 {
  background-color: #212529;
  width: 100%;
}
.footer-content li a i {
  background-color: white;
  padding: 8px 10px;
  font-size: 15px;
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .details-para::before {
    display: none;
  }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    display: none;
  }
}

/* 
Register.html
*/

.sec1-content-register {
  background-image: url("images/login-img.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

.register-form input,
.register-form select {
  background-color: #efefef;
}

.register-form input::placeholder {
  color: #282828;
}
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

/* destinations.html */
.dest-bg-image img {
  height: 100%;
  border-radius: 30px;
  width: 100%;
  min-height: 400px;
  object-fit: cover;
}
.destination-card {
  bottom: 50px;
  border-radius: 20px;
}
.dest-sec1 {
  background-image: url("images/destinations-upper-img.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

.destination-icon {
  background-color: #e8604c;
  position: absolute;
  top: -20px;
  padding: 2px 10px;
  border-radius: 20px;
  right: 6px;
  color: white;
}

.dest-sec3 {
  background-color: #e8604c;
  height: 535px;
  width: 100%;
}
.dest-sec3-title {
  padding-top: 185px;
}
.dest-uppersection-sec3 {
  background-color: white;
  height: 100px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
.dest-sec3-btn button {
  border: 1px solid white;
}
/* aboutus.html */
.aboutus-sec1 {
  background-image: url("images/aboutus-img.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}
.aboutus-sec2-img {
  background-image: url("images/aboutus-sec1-img.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 550px;
  position: relative;
  border-radius: 20px;
}
.aboutus-content {
  background-color: var(--primary-color);
  right: -100px;
}
.aboutus-icon {
  background-color: var(--primary-color);
  padding: 30px 30px;
  border-radius: 50%;
}
.aboutus-icon i {
  color: white;
  font-size: 30px;
}
.aboutus-video video {
  height: 500px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .aboutus-content {
    bottom: 0;
    right: 0;
  }
}
/* package.html */
.package-sec1 {
  background-image: url("images/package-top-img.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}
.package-section {
  /* padding: 20px 20px; */
  border-radius: 30px;

  width: 100%;
}
.package-image img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
}
.package-reviews {
  background-color: var(--primary-color);
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
}
.package-intro {
  background-color: #f9f9f9;
}
.package-btn {
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}
.package-content-bottom {
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
